.result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);

  padding: 1.25rem 1.5rem;

  background: var(--color-background-soft);
  border: 2px solid var(--color-border-accent);
  border-radius: var(--border-radius-md);

  margin-top: var(--spacing-md);
}

.resultLabel {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.resultScore {
  font-size: 1.05rem;
  font-weight: 600;
}

.resultPercentage {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-accent);
}

.reviewActions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  padding-top: 0.5rem;
}
.gapWrapper {
  display: inline-grid;
  grid-template-columns: max-content;
  grid-template-rows: auto auto;
  vertical-align: top;

  margin-inline: 0.2rem;
  margin-block: 0.2rem;
}