.group {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-xs);
}

.heading {
  display: flex;
  align-items: center;

  gap: var(--spacing-xs);
}

.headingIcon {
  flex-shrink: 0;

  width: 1.8rem;
  height: 1.8rem;

  color: var(--color-text-accent);
}

.title {
  margin: 0;

  color: var(--color-text-accent);

  font-family: var(--font-family-body);
  font-size: var(--font-size-label-medium);
  line-height: var(--line-height-label-medium);

  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-xs);
}