.page {
  width: 100%;

  padding:
    var(--spacing-md)
    var(--spacing-sm)
    calc(
      var(--bottom-nav-height) +
      var(--spacing-lg)
    );
}

@media only screen and (min-width: 37.5em) {
  .page {
    width: min(
      100%,
      var(--reading-max-width)
    );

    margin-inline: auto;

    padding:
      var(--spacing-xl)
      var(--spacing-md)
      calc(
        var(--bottom-nav-height) +
        var(--spacing-xl)
      );
  }
}