.card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  gap: var(--spacing-sm);

  width: 100%;

  padding:
    var(--spacing-xs)
    var(--spacing-md);

  border: var(--surface-border);
  border-radius: var(--surface-radius);

  background: var(--surface-background);

  color: var(--color-text-primary);
  text-decoration: none;

  box-shadow: var(--shadow-small);

  transition:
    transform var(--transition-fast),
    border-color var(--transition-fast),
    box-shadow var(--transition-fast);
}

.card:hover {
  border-color:
    var(--color-border-secondary);

  transform: translateY(-1px);
}

.iconBox {
  width: 4.4rem;
  height: 4.4rem;

  display: grid;
  place-items: center;

  border: 1px solid var(--color-border-accent);
  border-radius: var(--border-radius-sm);

  color: var(--color-text-primary);
  background: var(--color-background-accent);

  font-size: 1.6rem;
  line-height: 1;
}

.content {
  min-width: 0;
}

.content h3 {
  margin: 0;

  font-family: var(--font-family-body);
  font-size: var(--font-size-label-large);
  line-height: var(--line-height-label-large);
  font-weight: 600;
}

.content p {
  margin: 0;

  color: var(--color-text-secondary);

  font-size: var(--font-size-label-small);
  line-height: var(--line-height-label-small);
}

.arrow {
  color:
    var(--color-text-secondary);

  font-size: 2rem;
}
.title {
  color: var(--color-text-accent);

  font-family: var(--font-family-body);
  font-size: var(--font-size-label-large);
  line-height: var(--line-height-label-large);
  font-weight: var(--font-weight-label-large);
}